Repository gmencz/gmc.sh: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

.lintstagedrc:

{
  "*.{js,ts,tsx,graphql,json,yaml}": ["npm run format --", "npm run export-metadata"],
  "*.{js,ts,tsx}": ["npm run gen-gql-types", "npm run check-types --", "npm run test --", "npm run lint --"]
}

:arrow_up: Upgrade react-query
  package-lock.json
  package.json
Due: npm run format --, npm run export-metadata

:sparkles: Add delete confirmation dialog for tasks
  components/confirm-dialog.tsx
  features/scheduler/schedule/index.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:package: Add script to package.json for initializing hasura locally
  package-lock.json
  package.json
Due: npm run format --, npm run export-metadata

:sparkles: Set up twin.macro and migrate some of the codebase
  .babelrc
  .babelrc.js
  components/active-link.tsx
  components/confirm-dialog.tsx
  components/content-wrapper.tsx
  components/global-styles.tsx
  components/header.tsx
  components/layout.tsx
  components/sidebar.tsx
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  tsconfig.json
  twin.d.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

Revert ":sparkles: Set up twin.macro and migrate some of the codebase"
  .babelrc
  .babelrc.js
  components/active-link.tsx
  components/confirm-dialog.tsx
  components/content-wrapper.tsx
  components/global-styles.tsx
  components/header.tsx
  components/layout.tsx
  components/sidebar.tsx
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  tsconfig.json
  twin.d.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:package: Update
  package-lock.json
Due: npm run format --, npm run export-metadata

:children_crossing: Add progress between route transitions for an improved UX
  features/account-overview/index.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  styles/custom-nprogress.css
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

feat: add react-use-auth with auth0 for CSR auth and faster TTI
  components/slow-net-progress-bar.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/callback.ts
  pages/api/gql.ts
  pages/api/login.ts
  pages/api/logout.ts
  pages/api/me.ts
  pages/auth0_callback.tsx
  pages/index.tsx
  pages/scheduler/[id].tsx
  pages/scheduler/create-schedule.tsx
  pages/scheduler/index.tsx
  public/sitemap.xml
  utils/auth0.ts
  utils/authenticated-server-side-props.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

fix: now hasura api queries work with a custom hook useApi
  .env.example
  apollo.config.js
  codegen.yml
  components/content-wrapper.tsx
  components/header.tsx
  docker-compose.yaml
  features/account-overview/index.tsx
  features/scheduler/create-schedule-form/step-2.tsx
  features/scheduler/list.tsx
  features/scheduler/schedule/index.tsx
  generated/graphql.ts
  gql/schedules.graphql
  gql/users.graphql
  hasura/metadata/actions.graphql
  hasura/metadata/query_collections.yaml
  hooks/use-api.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/me.ts
  pages/auth0_callback.tsx
  pages/index.tsx
  pages/scheduler/[id].tsx
  public/sitemap.xml
  test/setup-env.ts
  utils/gql-client.ts
  utils/graphql.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

feat: add skeleton for loading states
  components/authentication-spinner.tsx
  components/content-wrapper.tsx
  features/account-overview/index.tsx
  features/scheduler/list.tsx
  features/scheduler/schedule/index.tsx
  hooks/use-api.ts
  pages/_app.tsx
  pages/index.tsx
  pages/scheduler/[id].tsx
  pages/scheduler/create-schedule.tsx
  pages/scheduler/index.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

feat: add comment for jest.mock in setup
  test/setup-env.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

ci: update main workflow env
  .github/workflows/main.yml
Due: none

feat: fix logout button
  components/header.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

feat: update account overview and paginated schedules list caching strategies
  features/scheduler/create-schedule-form/step-2.tsx
  features/scheduler/list.tsx
  test/next-testing-utils.tsx
  test/server/server-handlers.ts
  test/setup-env.ts
  utils/react-query-keys.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

feat: persist layout between pages
  pages/_app.tsx
  pages/index.tsx
  pages/scheduler/[id].tsx
  pages/scheduler/create-schedule.tsx
  pages/scheduler/index.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

Add auth HOC to layout instead of to every single page
  components/layout.tsx
  pages/index.tsx
  pages/scheduler/[id].tsx
  pages/scheduler/create-schedule.tsx
  pages/scheduler/index.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

Remove user_id arg for me query since it makes no sense and we can get it from the user session
  components/content-wrapper.tsx
  components/header.tsx
  components/slow-net-progress-bar.tsx
  features/account-overview/index.tsx
  features/scheduler/list.tsx
  generated/graphql.ts
  gql/schedules.graphql
  gql/users.graphql
  hasura/metadata/actions.graphql
  hasura/metadata/query_collections.yaml
  pages/api/me.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

Add desktop notifications for schedules tasks
  components/content-wrapper.tsx
  features/scheduler/schedule/index.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

Update lint-staged and pre-commit script
  lint-staged.config.js
  package.json
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --
