Repository gmencz/gmc.sh: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Add generic hero image
  package-lock.json
  public/generic_hero.png
Due: npm run format --, npm run export-metadata

:sparkles: Fix
  .env.example
  .github/workflows/main.yml
  .lintstagedrc
  apollo.config.js
  generated/graphql.ts
  gql/users.graphql
  hasura/metadata/query_collections.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1610226685836_alter_table_public_users_add_column_company/down.sql
  hasura/migrations/1610226685836_alter_table_public_users_add_column_company/up.sql
  hasura/migrations/1610226723643_alter_table_public_users_add_column_verified/down.sql
  hasura/migrations/1610226723643_alter_table_public_users_add_column_verified/up.sql
  hasura/migrations/1610227639589_alter_table_public_users_add_column_nickname/down.sql
  hasura/migrations/1610227639589_alter_table_public_users_add_column_nickname/up.sql
  hasura/migrations/1610227724817_alter_table_public_users_add_column_picture/down.sql
  hasura/migrations/1610227724817_alter_table_public_users_add_column_picture/up.sql
  hasura/migrations/1610227840590_alter_table_public_users_drop_column_nickname/down.sql
  hasura/migrations/1610227840590_alter_table_public_users_drop_column_nickname/up.sql
  lint-staged.config.js
  mocks/handlers.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/me.ts
  pages/index.tsx
  public/default_picture.png
  public/logo_full.svg
  scripts/export-hasura-metadata.js
  test/generators.ts
  utils/authenticated-server-side-props.ts
  utils/react-query-keys.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:construction_worker: Update hasura staging workflow
  .github/workflows/hasura-staging.yml
Due: none

:sparkles: Add action for getting current user profile in hasura
  .env.example
  generated/graphql.ts
  gql/users.graphql
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/query_collections.yaml
  pages/api/gql.ts
  pages/api/me.ts
  pages/index.tsx
  utils/authenticated-server-side-props.ts
  utils/gql-client.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Add toast notifications for errors
  components/header.tsx
  components/sidebar.tsx
  components/toast-container.tsx
  components/toast.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Handle UI errors for Me query
  components/header.tsx
  pages/index.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:card_file_box: Update hasura metadata and schema
  hasura/metadata/tables.yaml
  hasura/migrations/1610316818155_create_table_public_schedules/down.sql
  hasura/migrations/1610316818155_create_table_public_schedules/up.sql
  hasura/migrations/1610316881569_alter_table_public_schedules_add_column_user_id/down.sql
  hasura/migrations/1610316881569_alter_table_public_schedules_add_column_user_id/up.sql
Due: npm run format --, npm run export-metadata

:sparkles: Update table names and graphql
  components/header.tsx
  generated/graphql.ts
  gql/users.graphql
  hasura/metadata/actions.graphql
  hasura/metadata/actions.yaml
  hasura/metadata/query_collections.yaml
  hasura/metadata/tables.yaml
  pages/api/me.ts
  pages/index.tsx
  test/generators.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:fire: Remove cypress
  .github/workflows/main.yml
  cypress/.eslintrc.js
  cypress/e2e/dummy.ts
  cypress/plugins/cy-ts-preprocessor.js
  cypress/plugins/index.js
  cypress/support/index.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:fire: Remove action relationship
  hasura/metadata/actions.yaml
Due: npm run format --, npm run export-metadata

:sparkles: Add action relationship back
  hasura/metadata/actions.yaml
Due: npm run format --, npm run export-metadata

:sparkles: Add db migrations up.sql
  hasura/migrations/1610384179045_run_sql_migration/up.sql
  hasura/migrations/1610384498023_run_sql_migration/up.sql
Due: none

:sparkles: update auth0 utils for new workflow
  utils/auth0.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:card_file_box: Make database changes and add permissions for scheduler
  hasura/metadata/tables.yaml
  hasura/migrations/1610398062632_create_table_public_schedule_day/down.sql
  hasura/migrations/1610398062632_create_table_public_schedule_day/up.sql
  hasura/migrations/1610399472595_create_table_public_schedule_day_task/down.sql
  hasura/migrations/1610399472595_create_table_public_schedule_day_task/up.sql
  hasura/migrations/1610399490373_alter_table_public_schedule_day_update_comment/down.sql
  hasura/migrations/1610399490373_alter_table_public_schedule_day_update_comment/up.sql
  hasura/migrations/1610399508066_alter_table_public_account_update_comment/down.sql
  hasura/migrations/1610399508066_alter_table_public_account_update_comment/up.sql
  hasura/migrations/1610399524291_alter_table_public_schedule_update_comment/down.sql
  hasura/migrations/1610399524291_alter_table_public_schedule_update_comment/up.sql
  hasura/migrations/1610399553531_alter_table_public_schedule_day_task_add_column_schedule_day_id/down.sql
  hasura/migrations/1610399553531_alter_table_public_schedule_day_task_add_column_schedule_day_id/up.sql
  hasura/migrations/1610400209628_alter_table_public_account_add_check_constraint_account_name_length_check/down.sql
  hasura/migrations/1610400209628_alter_table_public_account_add_check_constraint_account_name_length_check/up.sql
  hasura/migrations/1610400379819_alter_table_public_account_add_check_constraint_account_company_length_check/down.sql
  hasura/migrations/1610400379819_alter_table_public_account_add_check_constraint_account_company_length_check/up.sql
  hasura/migrations/1610400699492_alter_table_public_account_add_column_updated_at/down.sql
  hasura/migrations/1610400699492_alter_table_public_account_add_column_updated_at/up.sql
  hasura/migrations/1610400721700_alter_table_public_account_add_column_created_at/down.sql
  hasura/migrations/1610400721700_alter_table_public_account_add_column_created_at/up.sql
  hasura/migrations/1610400789100_alter_table_public_schedule_add_check_constraint_schedule_title_length_check/down.sql
  hasura/migrations/1610400789100_alter_table_public_schedule_add_check_constraint_schedule_title_length_check/up.sql
  hasura/migrations/1610401344677_alter_table_public_schedule_day_alter_column_day/down.sql
  hasura/migrations/1610401344677_alter_table_public_schedule_day_alter_column_day/up.sql
  hasura/migrations/1610401403425_create_table_public_schedule_day_week_day/down.sql
  hasura/migrations/1610401403425_create_table_public_schedule_day_week_day/up.sql
  hasura/migrations/1610401710439_insert_week_days/up.sql
  hasura/migrations/1610402045065_set_fk_public_schedule_day_week_day/down.sql
  hasura/migrations/1610402045065_set_fk_public_schedule_day_week_day/up.sql
  hasura/migrations/1610402166875_alter_table_public_schedule_day_task_add_check_constraint_task_description_length_check/down.sql
  hasura/migrations/1610402166875_alter_table_public_schedule_day_task_add_check_constraint_task_description_length_check/up.sql
Due: npm run format --, npm run export-metadata

:pencil: Unexport and rename app query client
  pages/_app.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:pencil: Regenerate GQL Types
  generated/graphql.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:fire: Remove recent activity
  generated/graphql.ts
  gql/users.graphql
  hasura/metadata/query_collections.yaml
  hasura/metadata/tables.yaml
  pages/index.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:lipstick: Componentize /index
  components/content-wrapper.tsx
  features/account-overview/index.tsx
  jest.config.js
  pages/index.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Add scheduler page and set the cache time of the current user to Infinity
  components/content-wrapper.tsx
  components/header.tsx
  components/layout.tsx
  components/sidebar.tsx
  features/account-overview/index.tsx
  pages/scheduler.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Create scheduler list page and add pagination
  components/active-link.tsx
  components/sidebar.tsx
  features/scheduler/list.tsx
  generated/graphql.ts
  gql/schedules.graphql
  hasura/metadata/query_collections.yaml
  hasura/migrations/1610467711233_alter_table_public_schedule_alter_column_id/down.sql
  hasura/migrations/1610467711233_alter_table_public_schedule_alter_column_id/up.sql
  hasura/migrations/1610467724360_alter_table_public_schedule_day_alter_column_id/down.sql
  hasura/migrations/1610467724360_alter_table_public_schedule_day_alter_column_id/up.sql
  hasura/migrations/1610467735641_alter_table_public_schedule_day_task_alter_column_id/down.sql
  hasura/migrations/1610467735641_alter_table_public_schedule_day_task_alter_column_id/up.sql
  package-lock.json
  pages/scheduler.tsx
  public/sitemap.xml
  tsconfig.json
  utils/authenticated-server-side-props.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:construction_worker: Add bash script for only deploying to vercel if branch is main or staging
  bash script.sh
Due: none

:construction_worker: Add bash script for only deploying to vercel if branch is main or staging
  bash script.sh
  vercel-predeploy.sh
Due: none

:white_check_mark: Add test for account overview feature
  features/account-overview/__tests__/account-overview.test.tsx
  features/account-overview/index.tsx
  mocks/handlers.ts
  package.json
  test/generators.ts
  test/next-testing-utils.tsx
  test/setup-env.ts
  utils/gql-client.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:construction_worker: Update main.yml workflow
  .github/workflows/main.yml
Due: none

:package: Update package-lock
  package-lock.json
Due: npm run format --, npm run export-metadata

:sparkles: Add more scheduler pages and fixes
  components/active-link.tsx
  components/sidebar.tsx
  features/account-overview/__tests__/account-overview.test.tsx
  features/scheduler/__tests__/list.test.tsx
  features/scheduler/list.tsx
  features/scheduler/new-schedule-form.tsx
  generated/graphql.ts
  gql/schedules.graphql
  hasura/metadata/query_collections.yaml
  mocks/browser.ts
  mocks/handlers.ts
  mocks/index.ts
  mocks/server.ts
  pages/_app.tsx
  pages/scheduler/[id].tsx
  pages/scheduler/index.tsx
  pages/scheduler/new-schedule.tsx
  public/no_data.svg
  test/server/server-handlers.ts
  test/server/test-server.ts
  test/setup-env.ts
  utils/__tests__/dummy.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Create initial UI for step 2 of creating a schedule
  features/scheduler/list.tsx
  features/scheduler/new-schedule-form.tsx
  features/scheduler/new-schedule-form/step-1.tsx
  features/scheduler/new-schedule-form/step-2.tsx
  package-lock.json
  package.json
  pages/scheduler/new-schedule.tsx
  public/sitemap.xml
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Create initial tasks
  features/scheduler/new-schedule-form/step-2.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Add second step for creating a schedule
  components/content-wrapper.tsx
  components/layout.tsx
  features/scheduler/new-schedule-form/step-2-new-task.tsx
  features/scheduler/new-schedule-form/step-2.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Maybe finish creating schedules feature
  .eslintrc.js
  components/content-wrapper.tsx
  features/scheduler/create-schedule-form/step-1.tsx
  features/scheduler/create-schedule-form/step-2-new-task.tsx
  features/scheduler/create-schedule-form/step-2.tsx
  features/scheduler/new-schedule-form/step-2-new-task.tsx
  generated/graphql.ts
  gql/schedules.graphql
  hasura/metadata/query_collections.yaml
  hasura/migrations/1610746953988_alter_table_public_schedule_day_task_drop_column_start_time/down.sql
  hasura/migrations/1610746953988_alter_table_public_schedule_day_task_drop_column_start_time/up.sql
  hasura/migrations/1610746971318_alter_table_public_schedule_day_task_add_column_start_time/down.sql
  hasura/migrations/1610746971318_alter_table_public_schedule_day_task_add_column_start_time/up.sql
  hasura/migrations/1610747226677_alter_table_public_schedule_day_task_alter_column_start_time/down.sql
  hasura/migrations/1610747226677_alter_table_public_schedule_day_task_alter_column_start_time/up.sql
  hasura/migrations/1610748384518_alter_table_public_schedule_day_task_drop_column_start_time/down.sql
  hasura/migrations/1610748384518_alter_table_public_schedule_day_task_drop_column_start_time/up.sql
  hasura/migrations/1610748395901_alter_table_public_schedule_day_task_add_column_start_time/down.sql
  hasura/migrations/1610748395901_alter_table_public_schedule_day_task_add_column_start_time/up.sql
  hooks/use-on-leave.tsx
  pages/scheduler/create-schedule.tsx
  utils/months-mappings.ts
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Add feature to subscribe to notifications for a schedule
  features/scheduler/list.tsx
  features/scheduler/schedule/index.tsx
  generated/graphql.ts
  gql/schedules.graphql
  hasura/metadata/query_collections.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1610759453416_alter_table_public_schedule_add_column_user_is_subscribed/down.sql
  hasura/migrations/1610759453416_alter_table_public_schedule_add_column_user_is_subscribed/up.sql
  pages/scheduler/[id].tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Add a lot of features to the scheduler, now its kind of usable
  components/content-wrapper.tsx
  components/toast.tsx
  features/scheduler/create-schedule-form/step-2-new-task.tsx
  features/scheduler/create-schedule-form/step-2.tsx
  features/scheduler/schedule/index.tsx
  generated/graphql.ts
  gql/schedules.graphql
  hasura/metadata/query_collections.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1610843630521_set_fk_public_schedule_id/down.sql
  hasura/migrations/1610843630521_set_fk_public_schedule_id/up.sql
  hasura/migrations/1610843768725_delete_fk_public_schedule_schedule_id_fkey/down.sql
  hasura/migrations/1610843768725_delete_fk_public_schedule_schedule_id_fkey/up.sql
  hasura/migrations/1610843983753_set_fk_public_schedule_day_schedule_id/down.sql
  hasura/migrations/1610843983753_set_fk_public_schedule_day_schedule_id/up.sql
  hasura/migrations/1610844035789_set_fk_public_schedule_day_task_schedule_day_id/down.sql
  hasura/migrations/1610844035789_set_fk_public_schedule_day_task_schedule_day_id/up.sql
  public/sitemap.xml
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Add features and hooks to tailwindcss
  components/toast.tsx
  features/scheduler/create-schedule-form/step-2-new-task.tsx
  package-lock.json
  package.json
  tailwind.config.js
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:adhesive_bandage: Add simple loading to fix issue when schedule isnt loaded
  features/scheduler/schedule/index.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Add feature to edit schedule tasks
  features/scheduler/create-schedule-form/step-2-new-task.tsx
  features/scheduler/create-schedule-form/step-2.tsx
  features/scheduler/schedule/index.tsx
  generated/graphql.ts
  gql/schedules.graphql
  hasura/metadata/query_collections.yaml
  hasura/metadata/tables.yaml
  hasura/migrations/1610898038239_alter_table_public_schedule_day_task_add_column_end_time/down.sql
  hasura/migrations/1610898038239_alter_table_public_schedule_day_task_add_column_end_time/up.sql
  hooks/use-on-leave.tsx
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

:sparkles: Add feature to delete tasks
  features/scheduler/schedule/index.tsx
  generated/graphql.ts
  gql/schedules.graphql
  hasura/metadata/query_collections.yaml
Due: npm run format --, npm run export-metadata, npm run gen-gql-types, npm run check-types --, npm run test --, npm run lint --

Path conditions:
  npm run format --: any of: *.{js,ts,tsx,graphql,json,yaml}
  npm run export-metadata: any of: *.{js,ts,tsx,graphql,json,yaml}
  npm run gen-gql-types: any of: *.{js,ts,tsx}
  npm run check-types --: any of: *.{js,ts,tsx}
  npm run test --: any of: *.{js,ts,tsx}
  npm run lint --: any of: *.{js,ts,tsx}
